:root {
    --Farbe1: #2b2b2b;
    --Farbe2: #4c79f5;
    --Farbe3: #1db8cc;
    --Farbe4: #17b377;
    --Farbe5: #ffb01d;
    --Farbe6: #e01c5d;
    --Farbe7: #eb5050;
    --FarbeLink: #ffb01d;
}
/* Editor */
.ql-snow .ql-editor a {
    color: var(--FarbeLink);
    text-decoration: none;
}